<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="noderoot" stopProcessing="true">
                    <match url=".*" />
                    <action type="Rewrite" url="https://localhost:3552/{R:0}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
